/* 通用样式 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
}

section {
    flex-direction:column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* 禁止垂直方向溢出 */
    position: relative; /* 允许在 section 内定位箭头 */
}

section h2 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: bold;
    color: black; /* 可以根据需要调整颜色 */
    z-index: 10; /* 确保标题在内容上方 */
}

.navbar {
    position: sticky;
    height:50px;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar ul li {
    display: inline;
}


.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
}

.hero-image {
    background-image: url('../images/home_bg_lowres.jpg'); /* 在此处替换为你实际的背景图路径 */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}


/* Home 样式 */
h1 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1em;
}

h1::before,
h1::after{
    content:"";
    border-top : 0.1em double white;
    align-self:center;
}

#home {
    height: 100vh;
}

/* About Section 样式 */
#about {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow-x: auto; /* 横向滚动 */
    white-space: nowrap;
}

.about-bg {
    background-image: url('../images/about_bg_lowres.jpg'); /* 替换为你的背景图路径 */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}


.about-textbox {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    right: 5%; /* 将文本框定位在页面的右边 */
    transform: translateY(-50%); /* 只在垂直方向上居中对齐 */
    background-color: rgba(0, 0, 0, 0.8); /* 黑色透明背景 */
    padding: 20px;
    width: 30%; /* 调整宽度，根据需要设置 */
    height: 80%; /* 调整宽度，根据需要设置 */
    max-height: 80%; /* 限制高度，根据需要设置 */
    overflow-y: auto;
    border-radius: 8px; /* 左侧圆角，右侧保持直角 */
}


@media (max-width:45em) {
    .about-textbox {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); /* 只在垂直方向上居中对齐 */
        background-color: rgba(0, 0, 0, 0.8); /* 黑色透明背景 */
        padding: 20px;
        width: 80%; /* 调整宽度，根据需要设置 */
        height: 80%; /* 调整宽度，根据需要设置 */
        max-height: 80%; /* 限制高度，根据需要设置 */
        overflow-y: auto;
        border-radius: 8px; /* 左侧圆角，右侧保持直角 */
    }
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "思源黑体", "Microsoft YaHei", "PingFang SC", Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: small;
    font-style: italic;
    color: rgb(218, 218, 218); /* 改为白色文字，以便在黑色背景上清晰显示 */
    word-wrap: break-word; 
    overflow-wrap: break-word; /* 长单词换行 */
    white-space: normal; /* 换行 */
    line-height: 1.5; /* 行高 */
    text-align: justify; /* 两端对齐 */
    
}


/* works */
#works {
    height: 100vh;
}

#app-works {
    display: flex;
    height: calc(100vh - 60px); /* 减去导航栏高度 */
    width:100%;
}

#works-container::-webkit-scrollbar {
    display: none; /* 针对 WebKit（如 Chrome, Safari）浏览器隐藏滚动条 */
}

.work-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Photo Section 样式 */
#photography-section {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Blog Section 样式 */

#blog #app-articles{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
}


/* Footer 样式 */
.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* 在移动设备上隐藏 footer */
@media (max-width: 768px) {
    .footer {
        display: none;
    }
}

/* 联系方式样式 */
.contact-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.icons{
    color: white; /* 设置链接颜色与父元素相同 */
    text-decoration: none; /* 移除下划线 */
}

.icons:hover{
    color: #e18112; /* 悬停颜色 */
    text-decoration: underline; /* 悬停时显示下划线 */
}